<div class="container mt-5">
  <h1>Create a Task</h1>
  <%= render "/shared/form", task: @task %>
   <hr>
    <%= link_to tasks_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
